@font-face {
  font-family: "Arial";
  src: url("../../assets/font/arial/arial.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/font/arial/arial_bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../../assets/font/arial/arial_light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ArialNarrow";
  src: url("../../assets/font/arial/arial_narrow.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
