// breakpoints //

$tablet: 768px;
$desktop: 1280px;

// colors //

$primary-brunswick: #344e41;
$primary-hunter: #3a5a40;
$primary-fern: #588157;
$primary-vibrant: rgba(20, 151, 77, 1);

$secondary-sage: #a3b18a;
$secondary-timber: #dad7cd;
$secondary-grey: #4a4a4a;
