@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.hero {
  // bordered
  // border: 1px red solid;
  display: flex;
  align-items: flex-end;
  margin-top: 0.6rem;
  height: 50rem;
  background-image: url(../../assets/images/pandaImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 42%;
  &__text {
    // bordered
    // border: 1px red solid;
    width: 65rem;
    margin-left: 5rem;
    text-align: left;
    color: $secondary-timber;
    font-size: 6rem;
    font-family: "Arial", sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
.cards {
  // bordered
  // border: 1px red solid;
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
  &__item {
    // bordered
    // border: 1px red solid;
    width: 33rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1);
    &-image-flamingo {
      height: 19rem;
      background-image: url(../../assets/images/flamingoImage.jpg);
      background-repeat: no-repeat;
      background-size: 40rem;
      background-position: center 25%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    &-image-tiger {
      height: 19rem;
      background-image: url(../../assets/images/tigerImage.jpg);
      background-repeat: no-repeat;
      background-size: 45rem;
      background-position: 80% 0%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    &-image-polarBear {
      height: 19rem;
      background-image: url(../../assets/images/polarBearImage.jpg);
      background-repeat: no-repeat;
      background-size: 45rem;
      background-position: center 60%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    &-textContainer {
      padding: 1rem 1.5rem;
      text-align: left;
      color: $secondary-grey;
    }
    &-context {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    &-description {
      margin-top: 1rem;
      height: 13rem;
      line-height: 1.7rem;
      font-size: 1.2rem;
    }
    &-hyperlink {
      margin-top: 1rem;
      font-size: 1.3rem;
      color: $primary-fern;
      font-family: "Arial", sans-serif;
      font-weight: 800;
    }
  }
}
.description {
  // bordered
  // border: 1px red solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary-grey;
  background-color: white;
  padding: 0 3rem;
  padding-bottom: 3rem;
  &__text--header {
    // bordered
    // border: 1px red solid;
    font-size: 1.3rem;
    color: $primary-fern;
  }
  &__text--subheader {
    // bordered
    // border: 1px red solid;
    font-size: 2.2rem;
    margin-top: 0.5rem;
  }
  &__text--paragraph {
    // bordered
    // border: 1px red solid;
    width: 70rem;
    text-align: justify;
    font-size: 1.7rem;
    margin-top: 1rem;
  }
}
