@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

.hero {
  // bordered
  // border: 1px red solid;
  display: flex;
  align-items: flex-end;
  height: 50rem;
  background-image: url(../../assets/images/pandaImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 42%;
  &__text {
    // bordered
    // border: 1px red solid;
    width: 65rem;
    margin-left: 5rem;
    text-align: left;
    color: $secondary-timber;
    font-size: 6rem;
    font-family: "Arial", sans-serif;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}
.cards {
  // bordered
  // border: 1px red solid;
  display: flex;
  justify-content: space-between;
  padding: 4rem 6rem;
  &__item {
    // bordered
    // border: 1px red solid;
    // width: 33rem;
    width: 28vw;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1);
    &-image-flamingo {
      height: 19rem;
      background-image: url(../../assets/images/flamingoImage.jpg);
      background-repeat: no-repeat;
      background-size: 40rem;
      background-position: center 25%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    &-image-tiger {
      height: 19rem;
      background-image: url(../../assets/images/tigerImage.jpg);
      background-repeat: no-repeat;
      background-size: 45rem;
      background-position: 80% 0%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    &-image-polarBear {
      height: 19rem;
      background-image: url(../../assets/images/polarBearImage.jpg);
      background-repeat: no-repeat;
      background-size: 45rem;
      background-position: center 60%;
      border-top-left-radius: 0.5rem;
      border-top-right-radius: 0.5rem;
    }
    &-textContainer {
      padding: 1rem 1.5rem;
      text-align: left;
      color: $secondary-grey;
    }
    &-context {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    &-description {
      margin-top: 1rem;
      height: 13rem;
      line-height: 1.7rem;
      font-size: 1.2rem;
    }
    &-hyperlink {
      margin-top: 1rem;
      font-size: 1.3rem;
      color: $primary-fern;
      font-family: "Arial", sans-serif;
      font-weight: 800;
    }
  }
}
.info {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
  // bordered
  // border: 1px red solid;
  &__item {
    // bordered
    // border: 1px red solid;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &-image-koala {
      width: 50vw;
      height: 41rem;
      background-image: url(../../assets/images/koalaImage.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      // border-radius: 0.5rem;
    }
    &-image-peacock {
      // bordered
      // border: 1px red solid;
      border-radius: 0.5rem;
      width: 43vw;
      height: 30rem;
      background-image: url(../../assets/images/peacockImage.jpg);
      background-repeat: no-repeat;
      background-size: 52rem;
      background-position: 0% 0%;
      margin: 5rem;
      margin-left: 0rem;
    }
    &-image-crocodile {
      width: 50vw;
      height: 41rem;
      background-image: url(../../assets/images/crocodile.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border-top-right-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }
    &-text-container {
      // bordered
      // border: 1px red solid;
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    &-title {
      // bordered
      // border: 1px red solid;
      font-family: "Arial Narrow", sans-serif;
      font-weight: 100;
      width: 48rem;
      color: $secondary-grey;
      letter-spacing: 2px;
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: left;
    }
    &-text {
      // bordered
      // border: 1px red solid;
      color: $secondary-grey;
      width: 48rem;
      font-size: 1.4rem;
      line-height: 2rem;
      text-align: left;
    }
  }
  .koala-container {
    background-color: $primary-fern;
    & > .info__item-title {
      color: white;
    }
    & > .info__item-text {
      color: white;
    }
  }
  .peacock-container {
    // bordered
    // border: 1px red solid;
    & > .info__item-title {
      text-align: right;
    }
    & > .info__item-text {
      // bordered
      // border: 1px red solid;
      text-align: right;
    }
  }
}
.accreditation-container {
  // bordered
  // border: 1px red solid;
  display: flex;
  justify-content: center;
}
.accreditation {
  // bordered
  // border: 1px red solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $secondary-grey;
  &__header {
    // bordered
    // border: 1px red solid;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  &__text {
    text-align: left;
    width: 70vw;
    font-size: 1.5rem;
    &-title {
      // bordered
      // border: 1px red solid;
      font-size: 2rem;
      font-family: "Arial Narrow", sans-serif;
      font-weight: 100;
      margin-bottom: 1rem;
    }
    &-main {
      // bordered
      // border: 1px red solid;
      line-height: 2rem;
      // margin-bottom: 1rem;
    }
  }
  &__images {
    // bordered
    // border: 1px red solid;
    display: flex;
    width: 70vw;
    height: 20rem;
    align-items: center;
    justify-content: center;
    .aza {
      // bordered
      // border: 1px red solid;
      width: 30vw;
      height: 20rem;
      background-image: url(../../assets/logo/AZA.svg);
      background-repeat: no-repeat;
      background-size: 28rem;
      background-position: center;
    }
    .caza {
      // bordered
      // border: 1px red solid;
      width: 30vw;
      height: 20rem;
      background-image: url(../../assets/logo/CAZA.svg);
      background-repeat: no-repeat;
      background-size: 28rem;
      background-position: center;
    }
    .waza {
      // bordered
      // border: 1px red solid;
      width: 30vw;
      height: 20rem;
      background-image: url(../../assets/logo/WAZA.svg);
      background-repeat: no-repeat;
      background-size: 28rem;
      background-position: center;
    }
  }
}
.description-container {
  display: flex;
  justify-content: center;
  margin-bottom: 8rem;
}
.description {
  // bordered
  // border: 1px red solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: $primary-fern;
  // padding: 0 1rem;
  padding-bottom: 3rem 0;
  height: 25rem;
  width: 70vw;
  border-radius: 0.5rem;
  box-shadow: 1px 4px 6px 1px rgba(0, 0, 0, 0.1);
  &__text--header {
    // bordered
    // border: 1px red solid;
    font-size: 1.1rem;
    color: $secondary-sage;
  }
  &__text--subheader {
    // bordered
    // border: 1px red solid;
    font-family: "Arial Narrow", sans-serif;
    font-weight: 100;
    font-size: 2.2rem;
    margin-top: 0.5rem;
  }
  &__text--paragraph {
    // bordered
    // border: 1px red solid;
    width: 70rem;
    text-align: justify;
    font-size: 1.7rem;
    margin-top: 1rem;
  }
}
